extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    main.main
    if(role.permissions.includes("accounts-edit"))
        +alert-success(3000)
        +alert-error(3000)
        // Header
        h2 Tạo tài khoản
        .card-body
            form(action=`/${prefixAdmin}/account/edit/${account.id}?_method=PATCH` method="POST" id="form-edit-account" enctype="multipart/form-data")
                div(class="form-group")
                    label.form-label FullName
                    input.form-control(
                        type="text"
                        name="fullName"
                        value=account.fullName
                        required
                    )
                div(class="form-group")
                    label.form-label Email
                    input.form-control(
                        type="email"
                        name="email"
                        value=account.email
                    )
                div(class="form-group")
                    label.form-label Password
                    .input-group-custom(style="position: relative;")
                        input#password-input.form-control(
                            type="password"
                            name="password"
                            autocomplete="new-password"
                        )
                        span#toggle-password(style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;")
                            i.fas.fa-eye#eye-icon
                div(class="form-group")
                    label.form-label Số điện thoại
                    input.form-control(
                        type="text" 
                        name="phone"
                        value=account.phone
                    )
                div(class="form-group form-check form-check-inline")
                    input(
                        type="radio"
                        name="status"
                        id="status-active"
                        value="active"
                        class="form-check-input"
                        checked=account.status=="active"?true:false
                    )
                    label(for="status-active") Hoạt động
                div(class="form-group form-check form-check-inline")
                    input(
                        type="radio"
                        name="status"
                        id="status-inactive"
                        value="inactive"
                        class="form-check-input"
                        checked=account.status=="inactive"?true:false
                    )
                    label(for="status-inactive") Ngừng hoạt động
                div(class="form-group")
                    label.form-label Avartar
                    div(id="preview-img")
                        input.form-control-file(
                            type="file"
                            name="avatar"
                            accept="image/*"
                            id="file-input"
                        )
                        img(src=account.avatar alt="" id="img-preview" )
                div(class="form-group")
                    label(for="role_id") Phân quyền
                    select.form-select(name="role_id" id="role_id" class="form-select")
                        option(value="") Chọn phân quyền
                        each role in roles
                            option(value=role.id selected=account.role_id==role.id) #{role.title}
                div(class="form-group mt-3")
                    button.btn.btn-primary(type="submit") Cập nhật
        script(src="/admin/js/account.js")
    else
        h2 Không có quyền truy cập