extends ../../layouts/default.pug
include ../../mixins/alert.pug

block styles
  link(rel="stylesheet", href="/admin/css/account.css")

block main
  if(role.permissions.includes("accounts-edit"))
    +alert-success(3000)
    +alert-error(3000)

    .account-page
      .account-page__header
        .account-page__title
          span.account-page__icon
            i.fa-solid.fa-user-pen
          div
            h1 Cập nhật tài khoản
            p.account-form__subtitle Chỉnh sửa thông tin, phân quyền và trạng thái khóa
        a.btn.btn-outline-secondary.account-form__back(href=`/${prefixAdmin}/account`)
          i.fa-solid.fa-arrow-left
          span Quay lại

      form.account-form(action=`/${prefixAdmin}/account/edit/${account.id}?_method=PATCH` method="POST" id="form-edit-account" enctype="multipart/form-data")
        .account-form__main
          section.account-panel
            .account-panel__head
              span.account-panel__icon
                i.fa-solid.fa-id-card
              div
                h2 Thông tin tài khoản
                p Tên, email, mật khẩu và liên hệ

            .account-form-grid
              .account-form-field
                label.form-label(for="account-fullname") Họ tên
                input.form-control#account-fullname(
                  type="text"
                  name="fullName"
                  value=account.fullName
                  required
                )

              .account-form-field
                label.form-label(for="account-email") Email
                input.form-control#account-email(
                  type="email"
                  name="email"
                  value=account.email
                )

              .account-form-field
                label.form-label(for="password-input") Mật khẩu mới
                .account-password
                  input.form-control#password-input(
                    type="password"
                    name="password"
                    autocomplete="new-password"
                    placeholder="Để trống nếu không đổi"
                  )
                  button.account-password__toggle#toggle-password(type="button" aria-label="Hiện mật khẩu")
                    i.fas.fa-eye#eye-icon

              .account-form-field
                label.form-label(for="account-phone") Số điện thoại
                input.form-control#account-phone(
                  type="text"
                  name="phone"
                  value=account.phone
                )

              .account-form-field.account-form-field--wide
                label.form-label(for="role_id") Phân quyền
                select.form-select#role_id(name="role_id")
                  option(value="") Chọn phân quyền
                  each item in roles
                    option(value=item.id selected=account.role_id==item.id) #{item.title}

        aside.account-form__side
          section.account-panel.account-panel--sticky
            .account-panel__head
              span.account-panel__icon
                i.fa-solid.fa-image
              div
                h2 Ảnh và khóa tài khoản
                p Thiết lập avatar và trạng thái truy cập

            .account-form-field
              label.form-label Avatar
              .account-upload#preview-img
                img(src=account.avatar || "", alt="" id="img-preview")
                .account-upload__content
                  i.fa-solid.fa-cloud-arrow-up
                  span Chọn ảnh đại diện
                  small PNG, JPG hoặc WEBP
                input.account-upload__input(
                  type="file"
                  name="avatar"
                  accept="image/*"
                  id="file-input"
                )

            .account-form-field
              label.form-label Khóa tài khoản
              .account-choice-group.account-choice-group--stack
                label.account-choice
                  input.form-check-input(type="radio" name="status" id="status-active" value="active" checked=account.status=="active" ? true : false)
                  span Không khóa
                label.account-choice
                  input.form-check-input(type="radio" name="status" id="status-inactive" value="inactive" checked=account.status=="inactive" ? true : false)
                  span Khóa tài khoản

            .account-form-actions
              button.btn.btn-primary(type="submit")
                i.fa-solid.fa-floppy-disk
                span Cập nhật
              a.btn.btn-outline-secondary(href=`/${prefixAdmin}/account`)
                i.fa-solid.fa-xmark
                span Hủy

    script(src="/admin/js/account.js")
  else
    h2 Không có quyền truy cập
