extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/pagination.pug
block main
  if (role.permissions.includes("roles-view"))
    +alert-success(2000)
    +alert-error(2000)
    main.main
      // Header
      h1 Nhóm quyền
      .card.mb-3
        .card-header 
          h3.card-title Danh sách
        .card-body
          .row 
            .col-8
            .col-4.text-end
              if(role.permissions.includes("roles-create"))
                a.btn.btn-primary.btn-sm(href=`/${prefixAdmin}/roles/create`) Thêm mới
          table(class="table table-hover")
            thead
              tr
                th STT
                th Tên
                th Mô tả
                th Hành động
            tbody
              each record, index in records
                tr
                  td= index + 1
                  td= record.title
                  td= record.description
                  td
                    a.btn.btn-sm.btn-success(href=`/${prefixAdmin}/roles/detail/${record.id}`) Chi tiết
                    if(role.permissions.includes("roles-edit"))
                      a.btn.btn-sm.btn-primary(href=`/${prefixAdmin}/roles/edit/${record.id}`) Sửa
                    if(role.permissions.includes("roles-delete"))
                      a.btn.btn-sm.btn-danger(href="javascript:;" class="button-delete" data-id=record.id) Xóa 
      form(actiton="" 
      method="post" 
      id="form-delete-item"
      path=`/${prefixAdmin}/roles/delete`
      )
    script(src="/admin/js/role.js")
  else 
    h2 Không có quyền truy cập