extends ../../layouts/default.pug
include ../../mixins/alert.pug

block styles
  link(rel="stylesheet", href="/admin/css/permissions.css")

block main
  if(role.permissions.includes("roles-permissions"))
    +alert-success(2000)
    +alert-error(2000)

    .permissions-page
      .permissions-page__header
        .permissions-page__title
          span.permissions-page__icon
            i.fa-solid.fa-key
          div
            h1 Phân quyền
            p Thiết lập quyền truy cập cho từng nhóm quyền trong hệ thống.

        if (records.length > 0)
          button.btn.btn-primary.permissions-page__save(
            type="submit"
            button-submit
          )
            i.fa-solid.fa-floppy-disk
            span Cập nhật phân quyền

      if (records.length > 0)
        div(data-records=records class="d-none")

        .permissions-summary
          .permissions-summary__card
            .permissions-summary__icon
              i.fa-solid.fa-users-gear
            .permissions-summary__content
              span Nhóm quyền
              strong #{records.length}

          .permissions-summary__card
            .permissions-summary__icon
              i.fa-solid.fa-check-double
            .permissions-summary__content
              span Nhóm đã cấu hình
              strong #{records.filter(item => item.permissions && item.permissions.length > 0).length}

          .permissions-summary__card
            .permissions-summary__icon
              i.fa-solid.fa-shield-halved
            .permissions-summary__content
              span Quyền hệ thống
              strong 20+

        .permissions-shell
          .permissions-shell__top
            h2 Ma trận phân quyền
            .permissions-shell__meta
              i.fa-solid.fa-table-list
              span #{records.length} nhóm quyền

          .table-responsive
            table.table.table-hover.permissions-table.mb-0(table-permissions)
              thead
                tr
                  th Tính năng
                  each record in records
                    th.text-center #{record.title}
              tbody
                tr(data-name="id" class="d-none")
                  td
                  each record in records
                    td.text-center
                      input(type="text" name="id" value=record.id)

                tr.permissions-group-row
                  td(colspan=records.length + 1)
                    b Danh mục việc làm
                tr(data-name="jobs-category-view")
                  td Xem
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-category-view" value="true")
                tr(data-name="jobs-category-create")
                  td Thêm mới
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-category-create" value="true")
                tr(data-name="jobs-category-edit")
                  td Chỉnh sửa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-category-edit" value="true")
                tr(data-name="jobs-category-delete")
                  td Xóa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-category-delete" value="true")

                tr.permissions-group-row
                  td(colspan=records.length + 1)
                    b Việc làm
                tr(data-name="jobs-view")
                  td Xem
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-view" value="true")
                tr(data-name="jobs-create")
                  td Thêm mới
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-create" value="true")
                tr(data-name="jobs-edit")
                  td Chỉnh sửa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-edit" value="true")
                tr(data-name="jobs-delete")
                  td Xóa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="jobs-delete" value="true")

                tr.permissions-group-row
                  td(colspan=records.length + 1)
                    b Nhóm quyền
                tr(data-name="roles-view")
                  td Xem
                  each record in records
                    td.text-center
                      input(type="checkbox" name="roles-view" value="true")
                tr(data-name="roles-create")
                  td Thêm mới
                  each record in records
                    td.text-center
                      input(type="checkbox" name="roles-create" value="true")
                tr(data-name="roles-edit")
                  td Chỉnh sửa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="roles-edit" value="true")
                tr(data-name="roles-delete")
                  td Xóa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="roles-delete" value="true")
                tr(data-name="roles-permissions")
                  td Phân quyền
                  each record in records
                    td.text-center
                      input(type="checkbox" name="roles-permissions" value="true")

                tr.permissions-group-row
                  td(colspan=records.length + 1)
                    b Tài khoản
                tr(data-name="accounts-view")
                  td Xem
                  each record in records
                    td.text-center
                      input(type="checkbox" name="accounts-view" value="true")
                tr(data-name="accounts-create")
                  td Thêm mới
                  each record in records
                    td.text-center
                      input(type="checkbox" name="accounts-create" value="true")
                tr(data-name="accounts-edit")
                  td Chỉnh sửa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="accounts-edit" value="true")
                tr(data-name="accounts-delete")
                  td Xóa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="accounts-delete" value="true")

                tr.permissions-group-row
                  td(colspan=records.length + 1)
                    b User client
                tr(data-name="client-users-view")
                  td Xem
                  each record in records
                    td.text-center
                      input(type="checkbox" name="client-users-view" value="true")
                tr(data-name="client-users-edit")
                  td Chỉnh sửa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="client-users-edit" value="true")
                tr(data-name="client-users-delete")
                  td Xóa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="client-users-delete" value="true")

                tr.permissions-group-row
                  td(colspan=records.length + 1)
                    b Duyệt ứng tuyển
                tr(data-name="user-approval-view")
                  td Xem
                  each record in records
                    td.text-center
                      input(type="checkbox" name="user-approval-view" value="true")
                tr(data-name="user-approval-edit")
                  td Chỉnh sửa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="user-approval-edit" value="true")
                tr(data-name="user-approval-delete")
                  td Xóa
                  each record in records
                    td.text-center
                      input(type="checkbox" name="user-approval-delete" value="true")

        form(
          id="form-change-permissions"
          method="POST"
          class="d-none"
          action=`/${prefixAdmin}/roles/permissions?_method=PATCH`
        )
          div(class="form-group")
            input(
              type="text"
              class="form-control"
              name="permissions"
            )
        script(src="/admin/js/role.js")
      else
        .permissions-empty
          i.fa-solid.fa-key
          h3 Chưa có nhóm quyền để phân quyền
  else
    h2 Không có quyền truy cập
