extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    link(rel="stylesheet" href="/admin/css/company.css")
    +alert-success(2000)
    +alert-error(2000)
    .company-edit

        h1 Chỉnh sửa công ty

        form(method="POST" action=`/admin/company/edit/${company._id}?_method=PATCH` enctype="multipart/form-data")

            .form-group
                label Tên công ty
                input(
                    type="text"
                    name="name"
                    value=company.name
                    required
                )

            .form-group
                label Email
                input(
                    type="email"
                    name="email"
                    value=company.email
                )

            .form-group
                label Điện thoại
                input(
                    type="text"
                    name="phone"
                    value=company.phone
                )

            .form-group
                label Website
                input(
                    type="text"
                    name="website"
                    value=company.website
                )

            .form-group
                label Địa chỉ
                input(
                    type="text"
                    name="address"
                    value=company.address
                )

            .form-group
                label Quy mô
                select(name="size")
                    option(value="1-10" selected=company.size==="1-10") 1-10
                    option(value="10-50" selected=company.size==="10-50") 10-50
                    option(value="50-100" selected=company.size==="50-100") 50-100
                    option(value="100-500" selected=company.size==="100-500") 100-500
                    option(value="500+" selected=company.size==="500+") 500+

            .form-group
                label Logo
                div(id="preview-img")
                    input(type="file"
                        name="logo"
                        accept="image/*"
                        id="file-input"
                    )
                    img.preview(src=company.logo alt="Logo công ty" id="img-preview")

            .form-group
                label Mô tả công ty
                textarea(name="description")= company.description

            button.save-btn(type="submit") Cập nhật công ty