extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    link(rel="stylesheet", href="/css/job.css")
    +alert-success(3000)
    +alert-error(3000)
    main.job-detail
        .container

            .row
                // ================= LEFT =================
                .col-lg-8

                    // ===== JOB HEADER =====
                    .job-header.card.mb-4
                        .card-body
                            .d-flex.align-items-center

                                img.company-logo(
                                    src="/images/company.png"
                                    alt="company"
                                    width="70"
                                )

                                .ms-3
                                    h1.job-title #{job.title}
                                    p.company-name
                                        a(href="/companies/slug") #{job.companyName}

                                    .job-meta
                                        span.badge.bg-primary #{job.type}
                                        span.text-muted.ms-3 📍 #{job.location}
                                        span.text-muted.ms-3 💰 #{(job.salaryMin/1000000).toLocaleString()} - #{(job.salaryMax/1000000).toLocaleString()} triệu

                            hr

                            .d-flex.gap-2
            
                                a(href=`/applications/add/${job._id}`)
                                    button.btn.btn-success(type="submit")
                                        i.fa-solid.fa-paper-plane.me-2
                                        | Ứng tuyển ngay
                                form(
                                    action=`/saved-jobs/add/${job._id}`
                                    method="POST"
                                )
                                    if  (job.savedJob)
                                        button.btn.btn-savedjob(type="submit")
                                            i.fa-solid.fa-heart.me-2
                                            | Đã lưu
                                    else
                                        button.btn.btn-savedjob(type="submit")
                                            i.fa-regular.fa-heart.me-2  
                                            | Lưu việc

                    // ===== JOB DESCRIPTION =====
                    .card.mb-4
                        .card-body
                            h3 Mô tả công việc
                            span !{job.description}

                            h4 Yêu cầu
                            ul
                                if job.skill.length > 0
                                    each item in job.skill
                                        li #{item}
                                else
                                    li Không có yêu cầu

                            h4 Danh mục
                            a(href=`/jobs/${category.slug}`) #{category.title}

                    .card
                        .card-body
                            h3 Giới thiệu công ty
                            if company.description
                                p= company.description
                            else
                                p.text-muted Công ty chưa cập nhật mô tả.
                        

                            a.btn.btn-outline-primary(
                                href=`/company/detail/${company.slug}`
                            ) Xem công ty


                // ================= RIGHT =================
                .col-lg-4

                    // APPLY BOX
                    .card.mb-4
                        .card-body
                            h5 Thông tin chung

                            ul.list-unstyled
                                li.mb-2
                                    strong Mức lương:
                                    |  #{(job.salaryMin/1000000).toLocaleString()} - #{(job.salaryMax/1000000).toLocaleString()} triệu

                                li.mb-2
                                    strong Kinh nghiệm:
                                    |  #{job.experience}

                                li.mb-2
                                    strong Hình thức:
                                    |  #{job.type}

                                li.mb-2
                                    strong Địa điểm:
                                    |  #{job.location}

                                li.mb-2
                                    strong Hạn nộp:
                                    |  30/12/2025

                            a.btn.btn-success.w-100(href=`/applications/add/${job._id}`) Ứng tuyển ngay


                    // RELATED JOBS
                .card
                    .card-body
                        h5 Việc làm liên quan
                        if(jobCategory)
                            each item in jobCategory
                                .related-job.mb-3
                                    a(href=`/jobs/detail/${item.slug}`) #{item.title}
                                    div.text-muted #{item.salaryMin} - #{item.salaryMax} triệu • #{item.location}
                        else
                            p.text-muted Không có công việc nào.