extends ../../layouts/default.pug
include ../../mixins/alert.pug

block styles
  link(rel="stylesheet" href="/css/client-auth.css")

block main
  +alert-success(2000)
  +alert-error(2000)

  .client-auth
    section.client-auth__panel
      .client-auth__intro
        span.client-auth__eyebrow Dành cho ứng viên
        h1 Đăng ký ứng viên
        p Tạo tài khoản để lưu việc làm, ứng tuyển nhanh và theo dõi trạng thái hồ sơ của bạn.

        .client-auth__switch
          span Bạn là nhà tuyển dụng?
          a(href="/employer/register")
            span Đăng ký nhà tuyển dụng
            i.fa-solid.fa-arrow-right

      .client-auth__card
        form.client-auth__form(action="/user/register" method="POST")
          .client-auth__field
            label(for="fullName") Họ và tên
            .client-auth__input
              i.fa-solid.fa-user
              input(
                type="text"
                name="fullName"
                id="fullName"
                placeholder="Nhập họ và tên"
                required
              )

          .client-auth__field
            label(for="email") Email
            .client-auth__input
              i.fa-solid.fa-envelope
              input(
                type="email"
                name="email"
                id="email"
                placeholder="Nhập email ứng viên"
                required
              )

          .client-auth__field
            label(for="password")
              | Mật khẩu
              span.client-auth__required *
            .client-auth__input.client-auth__input--password
              i.fa-solid.fa-lock
              input(
                type="password"
                name="password"
                id="password"
                placeholder="Tối thiểu 8 ký tự"
                minlength="8"
                required
              )
              button.client-auth__password-toggle(
                type="button"
                data-password-toggle
                aria-label="Hiện mật khẩu"
                aria-controls="password"
              )
                i.fa-solid.fa-eye
            p.client-auth__hint Mật khẩu phải có ít nhất 8 ký tự

          .client-auth__field
            label(for="confirmPassword")
              | Xác nhận mật khẩu
              span.client-auth__required *
            .client-auth__input.client-auth__input--password
              i.fa-solid.fa-lock
              input(
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                placeholder="Nhập lại mật khẩu"
                minlength="8"
                required
              )
              button.client-auth__password-toggle(
                type="button"
                data-password-toggle
                aria-label="Hiện mật khẩu"
                aria-controls="confirmPassword"
              )
                i.fa-solid.fa-eye

          .client-auth__terms
            label(for="agreePolicy")
              input(
                type="checkbox"
                name="agreePolicy"
                id="agreePolicy"
                value="1"
                required
              )
              span Tôi đồng ý với Điều khoản sử dụng và Chính sách bảo mật.

          button.client-auth__submit(type="submit")
            span Đăng ký
            i.fa-solid.fa-arrow-right

        p.client-auth__register
          | Đã có tài khoản?
          a(href="/user/login") Đăng nhập ứng viên
