extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(2000)
    +alert-error(2000)
    .my-5 
        .row.justify-content-center
            .col-5
                h1.text-center.mb-5 Đổi mật khẩu
                form(
                    action="/user/password/reset"
                    method="POST"
                )
                    div(class="form-group")
                        label(for="password") Mật khẩu mới
                        input(
                            type="password"
                            name="password"
                            id="password"
                            class="form-control"
                            placeholder="Mật khẩu mới"
                            required
                        )
                    div(class="form-group")
                        label(for="confirmPassword") Xác nhận mật khẩu
                        input(
                            type="password"
                            name="confirmPassword"
                            id="confirmPassword"
                            class="form-control"
                            placeholder="Xác nhận mật khẩu"
                            required
                        )
                    button(type="submit" class="btn btn-primary w-100") Đổi mật khẩu