extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block styles
  link(rel="stylesheet", href="/admin/css/category.css")

block main
  if(role.permissions.includes("jobs-category-edit"))
    +alert-success(3000)
    +alert-error(3000)

    .job-category-page
      .job-category-page__header
        .job-category-page__title
          span.job-category-page__icon
            i.fa-solid.fa-pen-to-square
          div
            h1 Cập nhật danh mục
            p.category-form__subtitle Chỉnh sửa thông tin phân loại việc làm
        a.btn.btn-outline-secondary.category-form__back(href=`/${prefixAdmin}/job-category`)
          i.fa-solid.fa-arrow-left
          span Quay lại

      form.category-form(action=`/${prefixAdmin}/job-category/edit/${data.id}?_method=PATCH` id="form-edit-job-category" method="POST" enctype="multipart/form-data")
        .category-form__main
          section.category-panel
            .category-panel__head
              span.category-panel__icon
                i.fa-solid.fa-file-lines
              div
                h2 Thông tin danh mục
                p Tên, danh mục cha và mô tả hiển thị

            .category-form-grid
              .category-form-field.category-form-field--wide
                label.form-label(for="category-title") Tiêu đề danh mục
                input.form-control#category-title(
                  type="text"
                  name="title"
                  value=data.title
                  required
                )

              .category-form-field
                label.form-label(for="category-parent") Danh mục cha
                select.form-select#category-parent(name="parent_id")
                  option(value="") Không có danh mục cha
                  +select-tree(records, 1, data.parent_id)

              .category-form-field
                label.form-label(for="category-position") Vị trí
                input.form-control#category-position(type="number" name="position" min="0" placeholder="Tự động tăng" value=data.position)

              .category-form-field.category-form-field--wide
                label.form-label(for="category-description") Mô tả danh mục
                textarea.form-control.tinymce#category-description(
                  name="description"
                  rows="8"
                ) !{data.description}

        aside.category-form__side
          section.category-panel.category-panel--sticky
            .category-panel__head
              span.category-panel__icon
                i.fa-solid.fa-image
              div
                h2 Hình ảnh và trạng thái
                p Ảnh đại diện và trạng thái sử dụng

            .category-form-field
              label.form-label Thumbnail
              .category-upload#preview-img
                img(src=data.thumbnail || "", alt="" id="img-preview")
                .category-upload__content
                  i.fa-solid.fa-cloud-arrow-up
                  span Chọn ảnh danh mục
                  small PNG, JPG hoặc WEBP
                input.category-upload__input(
                  type="file"
                  name="thumbnail"
                  accept="image/*"
                  id="file-input"
                )

            .category-form-field
              label.form-label Trạng thái
              .category-choice-group.category-choice-group--stack
                label.category-choice
                  input.form-check-input(type="radio" name="status" value="active" checked=data.status=="active" ? true : false)
                  span Hoạt động
                label.category-choice
                  input.form-check-input(type="radio" name="status" value="inactive" checked=data.status=="inactive" ? true : false)
                  span Ngừng hoạt động

            .category-form-actions
              button.btn.btn-primary(type="submit")
                i.fa-solid.fa-floppy-disk
                span Cập nhật
              a.btn.btn-outline-secondary(href=`/${prefixAdmin}/job-category`)
                i.fa-solid.fa-xmark
                span Hủy
  else
    h2 Không có quyền truy cập
