extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug
include ../../mixins/filter-status.pug

block styles
  link(rel="stylesheet", href="/admin/css/category.css")

block main
  if (role.permissions.includes("jobs-category-view"))
    +alert-success(2000)
    +alert-error(2000)

    .job-category-page
      .job-category-page__header
        .job-category-page__title
          span.job-category-page__icon
            i.fa-solid.fa-layer-group
          div
            h1 Danh mục công việc

        if(role.permissions.includes("jobs-category-create"))
          a.btn.btn-primary.job-category-page__create(href=`/${prefixAdmin}/job-category/create`)
            i.fa-solid.fa-plus
            span Thêm danh mục

      .category-toolbar
        .category-toolbar__status
          +filter-status(filterStatus)

        -
          const activeStatus = filterStatus.find(item => item.class);
        form.category-toolbar__search#form-search(method="GET")
          if activeStatus && activeStatus.status
            input(type="hidden" name="status" value=activeStatus.status)
          .category-search
            i.fa-solid.fa-magnifying-glass
            input.form-control(
              type="text"
              name="keyword"
              placeholder="Tìm theo tên danh mục..."
              value=keyword
            )
          button.btn.btn-primary(type="submit")
            i.fa-solid.fa-filter
            span Lọc
          a.btn.btn-outline-secondary(href=`/${prefixAdmin}/job-category`)
            i.fa-solid.fa-rotate-left
            span Xóa lọc

      .category-table-shell
        .category-table-shell__top
          div
            h2 Danh sách danh mục
          .category-table-shell__meta
            i.fa-solid.fa-list-check
            span #{records.length} mục

        .table-responsive
          table.category-table.table.align-middle.mb-0(checkbox-multi)
            thead
              tr
                th STT
                th Hình ảnh
                th Tiêu đề
                th Vị trí
                th Trạng thái
                th.text-end Hành động
            tbody
              if records.length > 0
                each item,index in records
                  tr
                    td.category-table__index #{(pagination.page-1)*pagination.limitItem+index+1}
                    td
                      .category-thumb
                        if item.thumbnail
                          img(src=item.thumbnail alt=item.title)
                        else
                          img(src="/admin/images/no-image.png" alt="No Image")
                    td
                      .category-title
                        strong #{item.title}
                        if item.slug
                          span /#{item.slug}
                    td
                      input.category-position(type="number" min="1" value=item.position name="position")
                    td
                      if(item.status=="active")
                        a.category-status.category-status--active(
                          data-id=item.id
                          href="javascript:;"
                          change-status
                          data-status=item.status
                        )
                          i.fa-solid.fa-circle-check
                          span Hoạt động
                      else
                        a.category-status.category-status--inactive(
                          href="javascript:;"
                          change-status
                          data-id=item.id
                          data-status=item.status
                        )
                          i.fa-solid.fa-circle-pause
                          span Ngừng hoạt động
                    td
                      .category-actions
                        a.btn.btn-light.btn-sm(
                          href=`/${prefixAdmin}/job-category/detail/${item.id}`
                          title="Chi tiết"
                        )
                          i.fa-solid.fa-eye
                          span Chi tiết
                        if(role.permissions.includes("jobs-category-edit"))
                          a.btn.btn-outline-primary.btn-sm(
                            href=`/${prefixAdmin}/job-category/edit/${item.id}`
                            title="Sửa"
                          )
                            i.fa-solid.fa-pen
                            span Sửa
                        if(role.permissions.includes("jobs-category-delete"))
                          button.btn.btn-outline-danger.btn-sm(
                            type="button"
                            button-delete
                            data-id=item.id
                            title="Xóa"
                          )
                            i.fa-solid.fa-trash
                            span Xóa
              else
                tr
                  td(colspan="6")
                    .category-empty
                      i.fa-solid.fa-folder-open
                      h3 Không tìm thấy danh mục phù hợp

        .category-pagination
          +pagination(pagination)

      form(
        action=""
        method="POST"
        name="form-change-status"
        id="form-change-status"
        path=`/${prefixAdmin}/job-category/change-status`
      )
      form(
        action=""
        method="POST"
        name="form-delete-item"
        id="form-delete-item"
        path=`/${prefixAdmin}/job-category/delete`
      )

    script(src="/admin/js/job.js")
  else
    h2 Không có quyền truy cập
