header.header.bg-dark.text-white.fixed-top.shadow-sm
  .container-fluid
    .row.align-items-center.py-2

      // ===== Logo =====
      .col-6.col-md-3
        .inner-logo.fw-bold.fs-5
          | DDSJob

      // ===== Right Actions =====
      .col-6.col-md-9.d-flex.justify-content-end
        .text-end
          if(user.company_id)
            a.btn.btn-primary.btn-sm.px-3(
              href=`/${prefixAdmin}/company/my-company`
            )
              <i class="fa-regular fa-building"></i>
              | #{user.company_id.name}
          else
            a.btn.btn-primary.btn-sm.px-3(
              href=`/${prefixAdmin}/company/create`
            )
              <i class="fa-regular fa-building"></i>
              | Tạo công ty
          a.btn.btn-primary.btn-sm.px-3(
            href=`/${prefixAdmin}/my-account`
          )
           <i class="fa-regular fa-user"></i>
          a.btn.btn-danger.btn-sm.px-3(
            href=`/${prefixAdmin}/auth/logout`
          )
            i.fa-solid.fa-right-from-bracket.me-1
            | Đăng xuất